<div id='task-<%= task.id %>' class='task'>
  <p><%= task.description%></p>
  <%= form_for(task, :remote => true) do |f| %>
    <%= f.select :state, Task::STATES %>
    <%= f.submit %>
  <% end %>
</div>